.station-item {
    // border-style: solid;

    // margin: 15px;
    text-align: center;
    box-shadow: 2px 2px 3px #888;
    // background-color:#d3d3d3;
}

.station-item:hover{
    background-color:#f6f6f6;
}
