<h1 md-dialog-title>Login</h1>
<md-dialog-actions>
    <form (ngSubmit)="submitForm(loginForm.value)" [formGroup]="loginForm">
        <md-input-container style="width: 100%">
            <input md-input type="text" formControlName="username" placeholder="User Name">
        </md-input-container>
        <md-input-container style="width: 100%">
            <input md-input type="password" required formControlName="password" placeholder="Password">
        </md-input-container>
        <div class="flex-container" style="justify-content: space-around;">
            <!-- dont know why this is causing page refresh \/ -->
            <!-- <button md&#45;button md&#45;dialog&#45;close>Cancel</button> -->
            <button md-button type='submit'> Login </button>
        </div>
    </form>
</md-dialog-actions>
