<div class="tab-content">
    <md-card>
        <md-card-title-group>
            <md-card-title>{{song?.Title}}</md-card-title>
            <!-- <img md&#45;card&#45;lg&#45;image src="path/to/img.png"> -->
            <img md-card-lg-image [src]="song?.CoverArt">
            <md-card-subtitle><label> Artist : </label> {{song?.Artist}}</md-card-subtitle>
            <md-card-subtitle><label> Album : </label> {{song?.Album}}</md-card-subtitle>
        </md-card-title-group>
        <md-card-content>
            <p>
                {{song?.Station}}
            </p>
        </md-card-content>
        <!-- <md&#45;card&#45;actions> -->
        <!--     <!&#45;&#45; <md&#38;#45;progress&#38;#45;bar> </md&#38;#45;progress&#38;#45;bar> &#45;&#45;> -->
        <!--     <span class="fill&#45;space"> </span> -->
        <!--     <span> 0:23 / 2:15 </span> -->
        <!--     <span class="fill&#45;space"> </span> -->
        <!--     <button md&#45;button> -->
        <!--         <md&#45;icon>thumb_up</md&#45;icon> -->
        <!--     </button> -->
        <!--     <button md&#45;button> -->
        <!--         <md&#45;icon>thumb_down</md&#45;icon> -->
        <!--     </button> -->
        <!-- </md&#45;card&#45;actions> -->
        <!-- {{song | async | json }} -->
    </md-card>
</div>
