<md-card>
    <md-card-title-group>
        <md-card-title>{{(song | async)?.Title}}</md-card-title>
        <img md-card-md-image src="{{(song | async)?.CoverArt}}">
        <md-card-subtitle><label> Artist : </label> {{(song | async)?.Artist}}</md-card-subtitle>
        <md-card-subtitle><label> Album : </label> {{(song | async)?.Album}}</md-card-subtitle>
        <md-card-subtitle><label> Station: </label> {{(song | async)?.Station}}</md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
        <h3 align="center">
            <span> {{(playedTime | async).toString()}} /</span>
            <span>{{(song | async)?.totalTime?.toString()}} </span>
        </h3> 
        <!-- potential issue(dividing by 0?) -->
        <md-progress-bar mode="determinate" [value]="(playedTime | async).toSeconds() / (song | async)?.totalTime?.toSeconds() * 100"></md-progress-bar>
    </md-card-content>
</md-card>
