.tab-content {
    align-items: center;
    justify-content: center;
}

md-card {
    height: auto;
    width: 90%;
}

md-card-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
