<div class="container">
    <div class="connecting-container" *ngIf="connecting">
        <div class="connecting-spinner">
            <h1> CONNECTING </h1>
            <md-progress-spinner mode="indeterminate" class="spinner">
            </md-progress-spinner>
        </div>
    </div>
    <span class="content" *ngIf="!connecting">
      <md-card>

        <!-- <md&#45;card> -->
        <form (ngSubmit)="submitForm(connectForm.value)" [formGroup]="connectForm">
            <md-input-container style="width: 100%">
                <input md-input type="text" formControlName="host" placeholder="Host">
            </md-input-container>
            <md-input-container style="width: 100%">
                <input md-input type="number" required formControlName="port" placeholder="Port">
            </md-input-container>
            <md-card-actions>
                <!-- <div class="flex&#45;container" style="justify&#45;content: center"> -->
                <button md-button type="button" (click)="addToFavorites(connectForm.value)"> Add To Favorites</button>
                <button md-button type='submit'> Connect</button>
                <!-- </div> -->
            </md-card-actions>
        </form>
    </md-card>

    <md-card >
      <h2> favorites </h2>
      <md-toolbar class="favorites" *ngFor="let item of favorites">
        <span> {{item.host}}</span>
        <span class="fill-space"></span>
        <span> {{item.port}}</span>
    <md-toolbar-row>
        <md-checkbox [ngModel]="item.auto_connect" (change)="toggleAutoConnect(item)">Auto Connect</md-checkbox>
        <span class="fill-space"></span>
        <button (click)="removeFromFavorites(item)"> remove </button>
        <button (click)="connect(item.host, item.port)"> connect </button>
    </md-toolbar-row>
    </md-toolbar>
    </md-card>
    </span>
</div>
