@media screen and (max-width: 600px) {
  .currentStation{
    display: none;
  }
}
.active {
    color: green;
}
.md-select {
    color: white !important;
}
md-select-value.md-select-placeholder {
  color: red !important;
}
