@media screen and (max-width: 600px) {
  .currentStation{
    display: none;
  }
}
.btn-fab {
    margin-left:20px;
    margin-right:20px;
}
// .active {
//     color: green;
//     background-color:yellow
// }
