<md-toolbar color="primary" class="control-panel">
    <button md-button (click)="play()" [color]="playback==='PLAYING' ? 'accent' : 'default'">
      <md-icon class="md-24">play_arrow</md-icon>
    </button>
    <button md-button (click)="pause()" [color]="playback==='PAUSED' ? 'accent' : 'default'">
      <md-icon class="md-24">pause</md-icon>
    </button>
    <button md-button [color]="playback==='STOPPED' ? 'accent' : 'default'">
      <md-icon class="md-24">stop</md-icon>
    </button>
    <!-- {{currentStation}} -->
    <span class="fill-space"> </span>
    <!-- <button md&#45;button class="active" (click)="toggleMix()"> mix </button> -->
    <button md-button [color]="currentStation === 'mix QuickMix' ? 'accent' : 'default'" (click)="toggleMix()">
      <md-icon>playlist_add</md-icon>
      mix 
    </button>
    <!-- <p> playback = {{playback}}</p> -->
</md-toolbar>
