<md-toolbar [color]="privileges.admin? 'primary' : 'warn'">
    <button md-button (click)="play()" [color]="(playback | async)==='PLAYING' ? 'default' : 'accent'">
      <md-icon class="md-24">play_arrow</md-icon>
    </button>
    <button md-button (click)="pause()" [color]="(playback | async)==='PAUSED' ? 'default' : 'accent'">
      <md-icon class="md-24">pause</md-icon>
    </button>
    <button md-button (click)="stop()" [color]="(playback | async)==='STOPPED' ? 'default' : 'accent'">
      <md-icon class="md-24">stop</md-icon>
    </button>

    <span style="margin-left:50px;">
      <button md-mini-fab class="btn-fab" [disabled]="!privileges.admin" (click)="selectStation()">
        <md-icon class="md-24"
          [ngClass]="{'active' : (currentStation  | async) !=='mix QuickMix' && (currentStation | async) != ''}">radio
        </md-icon>
      </button>
      <button md-mini-fab class="btn-fab" [disabled]="!privileges.admin" (click)="playMix()">
        <md-icon class="md-24" [ngClass]="{'active' : (currentStation  | async)==='mix QuickMix'}">playlist_play</md-icon>
      </button>
    </span>
    <span class="fill-space"> </span>
    <span class="currentStation">{{currentStation | async}}</span>
    <span class="fill-space"> </span>

    <!-- <button md&#45;icon&#45;button [mdMenuTriggerFor]="menu"> -->
    <!--   <md&#45;icon>more_vert</md&#45;icon> -->
    <!-- </button> -->
    <!-- <md&#45;menu #menu="mdMenu"> -->
    <!--     <button md&#45;menu&#45;item [ngClass]="{'active' : currentStation === 'mix QuickMix'}" (click)="playMix()"> -->
    <!--       <md&#45;icon>playlist_add</md&#45;icon> -->
    <!--       <span>Mix</span> -->
    <!--   </button> -->
    <!--     <button md&#45;menu&#45;item *ngFor="let station of stationList | async" [ngClass]="{'active': station === currentStation}" (click)="changeStation(station)"> -->
    <!--       <span>{{station}}</span> -->
    <!--     </button> -->
    <!-- </md&#45;menu> -->
</md-toolbar>
