<nav class="navbar fixed-bottom navbar-inverse bg-inverse">
    <form class="form-inline">
        <div class="btn-group">
            <button (click)="play()" [ngClass]="{active: playback==='PLAYING'}" class="btn btn-outline-primary">
                      <span class="glyphicon glyphicon-play">play</span></button>
            <button (click)="pause()" [ngClass]="{active: playback==='PAUSED'}" class="btn btn-sm btn-outline-primary">
                       <span class="glyphicon glyphicon-pause">pause</span></button>
            <button [ngClass]="{active: playback==='STOPPED'}" class="btn btn-outline-primary">
                      <span class="glyphicon glyphicon-stop">stop</span></button>
        </div>
        <span class='navbar-text'>{{playback}}</span>
    </form>
</nav>
