<div class="app-container">
  <router-outlet></router-outlet>
</div>

<!-- <app&#45;connect *ngIf="!connected"> </app&#45;connect> -->
<!-- <div class="app&#45;container" *ngIf="connected"> -->
<!--     <md&#45;toolbar [color]="user.privileges?.admin ? 'primary' : 'warn'"> -->
<!--         <span>Pianod Client</span> -->
<!--         <span class="fill&#45;space"> </span> -->
<!--         <span class="fill&#45;space center" *ngIf="user.name"> Welcome {{user.name}}</span> -->
<!--         <md&#45;menu #appMenu="mdMenu"> -->
<!--             <app&#45;login> </app&#45;login> -->
<!--             <button md&#45;menu&#45;item (click)="disconnect()"> Disconect </button> -->
<!--         </md&#45;menu> -->
<!--         <button md&#45;icon&#45;button [mdMenuTriggerFor]="appMenu"> -->
<!--           <md&#45;icon>menu</md&#45;icon> -->
<!--         </button> -->
<!--     </md&#45;toolbar> -->
<!--     <md&#45;tab&#45;group class="tab&#45;container" *ngIf="connected"> -->
<!--         <md&#45;tab> -->
<!--             <ng&#45;template md&#45;tab&#45;label> -->
<!--                 <em>Now Playing</em> -->
<!--             </ng&#45;template> -->
<!--             <app&#45;now&#45;playing class="tab&#45;content center"> </app&#45;now&#45;playing> -->
<!--         </md&#45;tab> -->
<!--         <md&#45;tab *ngIf="user.privileges?.admin"> -->
<!--             <ng&#45;template md&#45;tab&#45;label> -->
<!--                 <em>Stations</em> -->
<!--             </ng&#45;template> -->
<!--             <app&#45;stations (stationsModified)="showSnackBarMsg($event)" class="tab&#45;content"> </app&#45;stations> -->
<!--         </md&#45;tab> -->
<!--         <md&#45;tab *ngIf="user.privileges?.admin"> -->
<!--             <ng&#45;template md&#45;tab&#45;label> -->
<!--                 <em>Search</em> -->
<!--             </ng&#45;template> -->
<!--             <app&#45;search (stationsModified)="showSnackBarMsg($event)" class="tab&#45;content"> </app&#45;search> -->
<!--         </md&#45;tab> -->
<!--         <md&#45;tab *ngIf="user.privileges?.admin"> -->
<!--             <ng&#45;template md&#45;tab&#45;label> -->
<!--                 <em>Command Line</em> -->
<!--             </ng&#45;template> -->
<!--             <app&#45;command&#45;line class="tab&#45;content center"> </app&#45;command&#45;line> -->
<!--         </md&#45;tab> -->
<!--     </md&#45;tab&#45;group> -->
<!--     <app&#45;controls class="control&#45;bar" [privileges]="user.privileges"> </app&#45;controls> -->
<!-- </div> -->
