<div class="app-container">
    <md-toolbar [color]="user.loggedIn ? 'primary' : 'warn'">
        <span>Pianod Client</span>
        <span class="fill-space"></span>
        <md-menu #appMenu="mdMenu">
            <!-- <app&#45;login (userLogin)="userLogin($event)"> </app&#45;login> -->
            <app-login> </app-login>
            <button md-menu-item (click)="disconnect()"> Disconect </button>
        </md-menu>

        <button md-icon-button [mdMenuTriggerFor]="appMenu">
          <md-icon>more_vert</md-icon>
        </button>
    </md-toolbar>

    <!-- <app&#45;connect (userConnected)="userConnected($event)" *ngIf="!connected"> </app&#45;connect> -->
    <app-connect *ngIf="!connected"> </app-connect>
    <span *ngIf="connected">
        <md-tab-group class="tab-container">
            <md-tab>
                <template md-tab-label>
              <em>Now Playing</em>
            </template>
                <app-now-playing> </app-now-playing>
            </md-tab>
            <md-tab *ngIf="user.loggedIn">
                <template md-tab-label>
              <em>Stations</em>
            </template>
                <!-- <app&#45;stations [currentStation]="currentStation"> </app&#45;stations> -->
                <app-stations (stationsModified)="snackBarMsg($event)"> </app-stations>
            </md-tab>
            <md-tab *ngIf="user.loggedIn">
                <template md-tab-label>
              <em>Search</em>
            </template>
                <app-search (stationsModified)="snackBarMsg($event)"> </app-search>
            </md-tab>
        </md-tab-group>
        <div class="fill"> </div>
        <app-controls class="control-bar"> </app-controls>
    </span>
</div>
