.command-bar {
    padding-top:20px; 
}
.error {
    color: red;
}
.success {
    color: green;
}

.data {
    color: #2962ff;
}

.data-req-tags {
    color: grey;
}

.message, .message-code {
    color:white;
    padding-right:10px;
}

.message.default {
    // color: #2962ff;
    color: white;
}

.command-input {
    flex: 1 1 auto;
    padding: 10px;
}

.help-icon {
    align-self: center
}

.message-container {
    border: solid 2px #000;
    overflow-y:scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
    background: #424242;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

md-list-item {
    // overide md-list dense height(40px)
    height: 25px;
}
