<div fxFlexFill fxLayout="column">
    <md-toolbar color="primary" fxLayoutWrap="wrap">
        <span>Pianod Client</span>
        <span class="fill-space"> </span>
        <button md-button [routerLink]="['/Home']" > <md-icon>arrow_back</md-icon> Home </button>
    </md-toolbar>

    <md-toolbar color="accent">
        <button md-raised-button color="primary" (click)="clearMessages()"> clear </button>
        <!-- <span class="fill&#45;space"> </span> -->
        <!-- <md&#45;checkbox [checked]="showColors" (change)="showColors = !showColors ">Show Colors</md&#45;checkbox> -->
        <span class="fill-space"> </span>
        <md-checkbox [checked]="showCodes" (change)="showCodes = !showCodes">Show Codes</md-checkbox>
    </md-toolbar>
    <div fxLayout="column" class="message-container" #messageList fxFlex="1 1 auto">
        <md-list dense *ngFor="let message of pianodMessages">
            <md-list-item>
                <span *ngIf="showCodes" class="message-code"> {{message.code}} </span>
                <span class="message default"> {{ message | display_message}} </span>
            </md-list-item>
        </md-list>
    </div>

    <md-toolbar style="padding-top:15px">
        <md-icon class="help-icon" mdTooltip="type help to see available commands">
            info </md-icon>
        <md-input-container class="command-input">
            <input mdInput type="text" #commandInput (keyup.enter)="sendCommand(commandInput)" placeholder="Command...">
        </md-input-container>

        <button md-button (click)="sendCommand(commandInput)">
            <md-icon>send</md-icon>
        </button>
    </md-toolbar>
</div>
