.command-bar {
    padding-top:20px; 
    margin-top:20px; 
    width:90%
}
.error {
    color: red;
}
.success {
    color: green;
}

.data {
    color: brown;
}
.command-input {
    flex: 1 1 auto;
    margin: 15px;
}

.help-icon {
    align-self: center
}

.message-container {
    display:flex; 
    flex-direction:column; 
    flex: 1 1 0; 
    margin-top: 10px; 
    width:90%; 
    overflow-y:scroll;
    background:#f6f6f6;
}
.message {
    padding-right:10px
}
