<div class="tab-content">
    <md-card *ngFor="let station of stations">
        <md-card-title>
            <span>{{station?.Name}}</span>
        </md-card-title>
        <div class="station-controls">
            <md-button-toggle #show>
                <md-icon>settings</md-icon>
            </md-button-toggle>
            <md-button-toggle>
                Mix
                <md-icon>playlist_add</md-icon>
            </md-button-toggle>
            <button md-button color="primary" (click)="playStation(station.Name)"> Play </button>
        </div>
        <md-card-content *ngIf="show.checked">
            <md-list dense>
                <md-list-item *ngFor="let seed of station.Seeds">
                    <h4> {{seed | json }} </h4>
                </md-list-item>
            </md-list>
            <md-card-actions>
                <button md-button>Rename</button>
                <span class="fill-space"> </span>
                <button md-button>Delete</button>
            </md-card-actions>
        </md-card-content>
    </md-card>
</div>
