<div *ngFor="let station of stations" class="station-container">
    <span class="station-bar">
          <span class="station-title" [ngClass]="{'active': isPlaying(station.Name)}"> {{station.Name}}</span>

    <!-- <button md&#45;button [ngClass]="{'active': isPlaying(station.Name)}"> -->
    <!--             <span class="label&#45;btn">Playing</span> -->
    <!--             <md&#45;icon>play_arrow</md&#45;icon> -->
    <!--     </button> -->
    <button md-button [ngClass]="{'active': inMix(station.Name)}" (click)="toggleInMix(station.Name)">
                    <md-icon>playlist_add</md-icon>
                    <span class="label-btn">Mix</span>
            </button>

    <input type="checkbox" style="display:none" #showOptions>

    <button md-button (click)="showOptions.click()">
          <md-icon *ngIf="!showOptions.checked" (click)="showOptions.click()">arrow_drop_down
          </md-icon>
          <md-icon *ngIf="showOptions.checked" (click)="showOptions.click()">arrow_drop_up</md-icon>
          </button>
    </span>
    <div *ngIf="showOptions.checked" class="station-options">
        <div *ngFor="let seed of station.Seeds" class="seed-row">
            <span *ngIf="seed.Artist">Artist : {{seed?.Artist}}</span>
            <span *ngIf="seed.Song">Song : {{seed?.Song}}</span>
            <span *ngIf="seed.Genre">Genre : {{seed?.Genre}}</span>
            <button md-button (click)="deleteSeed(seed.ID)" style="color:red"><md-icon>delete</md-icon></button>
        </div>
        <div class="station-controls">
            <span>
                <md-input-container>
                    <input mdInput placeholder="rename" type="text" #newName [value]="station.Name" (keyup.enter)="renameStation(station.Name,newName.value)">
                </md-input-container>
                <button md-button-pressed (click)="renameStation(station.Name,newName.value)">Rename</button>
              </span>
            <!-- <span class="fill&#45;space"></span> -->
            <span>
                <button md-button-pressed color="warn" (click)="openConfirmDialog(station.Name)">Delete</button>
                </span>
        </div>
    </div>
</div>
