<div class="parent">
    <div class="station-list">
        <md-list>
            <md-list-item> Pepper </md-list-item>
            <md-list-item> Salt </md-list-item>
            <md-list-item> Paprika </md-list-item>
        </md-list>
    </div>
    <md-card class="station-selected">
        <md-card-subtitle>Subtitle first</md-card-subtitle>
        <md-card-title>Card with title</md-card-title>
        <md-card-content>
            <p>This is supporting text.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>
        <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
        </md-card-actions>
    </md-card>
    <!-- <div class="station&#45;selected"> -->
    <!--     <h2> station1</h2> -->
    <!-- </div> -->
</div>
