
@media screen and (max-width: 600px) {
  .label-btn {
    display: none;
  }
}

.tab-content {
    align-items: center;
    /* align-content: center; */
    // padding-top: 10px;
}

md-card {
    height: auto;
    margin: 20px;
    padding: 20px;
    width: 90%;
}

md-card> md-card-title {
    text-align: center;
}

md-card-actions {
    display: flex;
    align-items: space-around;
    justify-content: space-between;
}

.station-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rename-station{
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    // align-items: stretch;
}

.rename-station > md-input-container{
    display: flex;
    flex: 1 1 auto;
}

.delete-btn {
    width: 100%;
}

.active {
    color: green;
}

.seed-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.seed {
    display: flex;
    flex: 1 1 auto;
}

.deleteSeed-btn {
    display: flex;
    background-color: red;
}
