<div class="control-bar" fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="playback-controls" fxLayoutAlign="space-around center" fxFlex="1 1 auto" fxLayoutGap="5px">
    <button md-icon-button class="playback-btn" (click)="play()" [color]="(playback | async)==='PLAYING' ? 'primary' : 'accent'"><md-icon class="md-36">play_arrow</md-icon></button>
    <button md-icon-button class="playback-btn" (click)="pause()" [color]="(playback | async)==='PAUSED' ? 'primary' : 'accent'"><md-icon class="md-36">pause</md-icon></button>
    <button md-icon-button class="playback-btn" (click)="stop()" [color]="(playback | async)==='STOPPED' ? 'primary' : 'accent'"><md-icon class="md-36">stop</md-icon></button>
  </div>
  <div>

    <button md-icon-button color="primary" [mdMenuTriggerFor]="controlsMenu" class="controls-menu-btn">
      <md-icon color="primary">stars</md-icon>
    </button>
    <md-menu #controlsMenu="mdMenu">
      <button md-menu-item (click)="playMix()" [class]="(currentStation | async) === 'mix QuickMix' ? 'active' : ''">
          <md-icon>playlist_play</md-icon>
          <span>Play Mix</span>
      </button>
      <hr>
      <button md-menu-item *ngFor="let station of stationList | async" (click)="playStation(station)">
          <span [class]="(currentStation | async) === station ? 'active' : ''">{{station}}</span>
        </button>
    </md-menu>
  </div>
</div>
