/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css'; 
// @import './custom_theme.scss';
/* @import '~@angular/material/core/theming/prebuilt/indigo-pink.css'; */

html,
body,
.app-container {
    margin: 0;
    width: 100%;
    height: 100%;
    height: 100vh;
}
body {
    background-image: url("./assets/rockywall.png");
}
.tab-container{
    display: flex;
    flex: 1 1 auto;
}
// md-tab-header {
    // background-color: purple;
// }
.tab-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    -webkit-overflow-scrolling: touch;
}

.tab-content:not(md-tab-header) {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    height: 70vh;
    justify-content:center;
    -webkit-overflow-scrolling: touch;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fill-space {
    flex: 1 1 auto;
}

.control-bar {
    display: flex;
    width: 100%;
    height:50px;
}

.active {
    color: #2962FF;
}

.active > md-icon, label-btn {
    color: #2962FF;
}
