/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html,
body {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
}

// .page-padding {
//     flex: 0 0 auto;
// }

.flex-container> * {
    flex: 0 0 auto;
}
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

.full-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.full-screen> * {
    flex: 0 0 auto;
}

.control-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
