<md-toolbar class="search-bar">
    <md-input-container class="search-input-container">
        <input mdInput type="text" class="search-input" #searchInput (keyup.enter)="search(searchInput.value, category, manner)" placeholder="Search For..">
    </md-input-container>

    <md-select placeholder="manner" [(ngModel)]="manner" class="search-category">
        <md-option value="All"> All </md-option>
        <md-option value="Request"> Files </md-option>
        <md-option value="Suggestion"> Pandora </md-option>
    </md-select>
    <md-select placeholder="category" [(ngModel)]="category" class="search-category">
        <!-- <md&#45;option value="Any"> Any</md&#45;option> -->
        <md-option value="Artist"> Artist </md-option>
        <md-option value="Album"> Album</md-option>
        <md-option value="Genre"> Genre</md-option>
    </md-select>
    <button md-raised-button class="search-btn" color="primary"> Search </button>
</md-toolbar>

<md-progress-spinner mode="indeterminate" *ngIf="searching" class="search-spinner">
</md-progress-spinner>

<div *ngIf="!searching" class="search-results-container">
    <md-toolbar *ngFor="let seed of searchResults" class="search-result-item">
        <span *ngIf="seed.Source=='pandora'"><md-icon>radio</md-icon></span>
        <span *ngIf="seed.Source=='filesystem'"><md-icon>insert_drive_file</md-icon></span>

        <span *ngIf="seed.Artist">Artist : {{seed?.Artist}}</span>
        <span *ngIf="seed.Song"> Song : {{seed?.Song}}</span>
        <span *ngIf="seed.Genre"> Genre : {{seed?.Genre}}</span>
        <span class="fill-space"> </span>
        <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
        <md-menu #menu="mdMenu">
            <button md-menu-item (click)="addToQueue(seed)">
            <md-icon>fiber_new</md-icon>
            <span>Add to Queue</span>
          </button>
            <button md-menu-item (click)="createPlaylist(seed)">
            <md-icon>fiber_new</md-icon>
            <span>New Playlist</span>
          </button>
            <button md-menu-item (click)="addToPlaylist(seed)">
            <md-icon>playlist_add</md-icon>
            <span>Add To Playlist</span>
          </button>
        </md-menu>
        <!-- <md&#45;toolbar&#45;row> -->
        <!-- <p> {{seed | json }}</p> -->
        <!-- </md&#45;toolbar&#45;row> -->
    </md-toolbar>
</div>
