@media screen and (max-width: 600px) {
  .label-btn {
    display: none;
  }
  .search-btn {
    display: none;
  }
}

// .search-bar {
//     display: flex;
//     flex-direction: row;
//     margin: 10px;
//     padding-top:10px;
//     align-items: center;
//     justify-content: space-between;
//     flex: 0 0 auto; 
// }

.search-input {
    display: flex;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 2;
}

.search-category {
    display: flex;
}

.search-btn {
    display: flex;
}

.selected-bar {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-top:10px;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 auto; 
}
.selected-bar md-select {
    width: 60%;
    text-align: center;
    margin-left: 5px;
}

.results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;/* need this to position inner content */
    flex: 1 1 auto;
    overflow-y: auto;
}

.results-container md-card {
    padding: 50px;
    margin: 10px;
    height: 50px;
    width: 150px;
    text-align: center;
}
md-basic-chip{
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    background-color: #212121;
    color:white;
}
md-basic-chip:focus {
    outline: none;
}
.selected{
    // background-color: #304FFE;
    // color: white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 255, 1);
    -moz-box-shadowTaylor:    0px 0px 20px 0px rgba(0, 0, 255, 1);
    box-shadow:         0px 0px 20px 0px rgba(0, 0, 255, 1);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}
