<md-toolbar [color]="(user | async)?.privileges?.admin ? 'primary' : 'warn'">
    <span>Pianod Client</span>
    <span class="fill-space"> </span>
    <span class="fill-space center" *ngIf="(user | async)?.name"> Welcome {{(user | async).name}}</span>
    <button md-button (click)="login()" *ngIf="!(user | async)?.privileges.admin">
            <md-icon>fingerprint</md-icon>
            <span>Login</span>
    </button>
    <md-menu #appMenu="mdMenu">
        <button md-menu-item (click)="logout()" *ngIf="(user | async)?.privileges.admin">
                <md-icon>exit_to_app</md-icon>
                <span>Logout</span>
        </button>
        <button md-menu-item (click)="disconnect()">Disconnect</button>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
      <md-icon>menu</md-icon>
    </button>
</md-toolbar>
<md-tab-group class="tab-container">
    <md-tab>
        <ng-template md-tab-label>
            <em>Now Playing</em>
        </ng-template>
        <app-now-playing class="tab-content center"> </app-now-playing>
    </md-tab>
    <md-tab *ngIf="(user | async)?.privileges.admin">
        <ng-template md-tab-label>
            <em>Stations</em>
        </ng-template>
        <app-stations  class="tab-content"> </app-stations>
    </md-tab>
    <md-tab *ngIf="(user | async)?.privileges.admin">
        <ng-template md-tab-label>
            <em>Search</em>
        </ng-template>
        <app-search class="tab-content"> </app-search>
    </md-tab>
    <md-tab *ngIf="(user | async)?.privileges.admin">
        <ng-template md-tab-label>
            <em>Command Line</em>
        </ng-template>
        <app-command-line class="tab-content center"> </app-command-line>
    </md-tab>
</md-tab-group>
<app-controls *ngIf="(user | async)?.privileges.admin" class="control-bar" [privileges]="(user | async)?.privileges"> </app-controls>
