<div fxFlexFill fxLayout="column">
  <md-toolbar color="primary" fxLayoutWrap="wrap">
    <span>Pianod Client</span>
    <span class="fill-space"> </span>
    <span class="fill-space center welcome-user" *ngIf="(user | async)?.name"> Welcome {{(user | async).name}}</span>
    <button md-button (click)="login()" *ngIf="!(user | async)?.privileges.admin">
      <md-icon>fingerprint</md-icon>
      <span>Login</span>
    </button>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item (click)="logout()" *ngIf="(user | async)?.privileges.admin">
          <md-icon>exit_to_app</md-icon>
          <span>Logout</span>
      </button>
      <button md-menu-item (click)="disconnect()">Disconnect</button>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
        <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  <nav md-tab-nav-bar aria-label="navigation links" class="navigationBar">
    <a md-tab-link *ngFor="let routeLink of routeLinks; let i = index" [routerLink]="routeLink.link" skipLocationChange [active]="activeLinkIndex === i" (click)="activeLinkIndex = i">
         {{routeLink.label}}
     </a>
  </nav>
  <div fxLayout="column" fxFlex="1 1 auto">
    <router-outlet></router-outlet>
  </div>
  <app-controls *ngIf="(user | async)?.privileges.admin" class="control-bar" [privileges]="(user | async)?.privileges"> </app-controls>
</div>
