<md-toolbar *ngFor="let item of queue | async ">
    <span> {{item.Title}}</span>
    <span class="fill-space"> </span>

    <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="removeItem(item)">
            <span>remove</span>
          </button>
    </md-menu>
    <md-toolbar-row>
        <p> {{item.Title }} </p>
        <p> {{item.Artist }} </p>
        <p> {{item.Album }} </p>
    </md-toolbar-row>
</md-toolbar>
<!-- <p style="color: white"> {{queue | async | json }} </p> -->
